* {
  box-sizing: border-box;
  text-align: center;
}

body{
  font-size: 18px;
  line-height: 32px;
  background: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  /* width: 960px; */
}

header{
  padding: 20px;
  margin-bottom: 20px;
  background: #ebebeb;
}

nav{
  padding: 20px;
  margin-bottom: 20px;
  background: #ebebeb;
}

section{
  margin-bottom: 20px;
  background: #ebebeb;
}

.section{
  padding: 60px;
  float: left;
  width: 52.5%;
  margin: 20px;
  /* width: 495px; */
}

#article{
  background:gray;
  padding: 40px;
  color: #ebebeb;
}

.aside{
  padding: 196px;
  float: left;
  width: 42.5%;
  margin: 20px;
  /* width: 495px; */
}

#htag{
  background: #ebebeb;
  margin: 5px;
  padding: 20px;
  color: #777;
}

#p{
  background: #ebebeb;
  margin: 5px;
  padding: 20px;
  color: #777;
}

footer{
  clear: both;
  padding: 20px;
  margin-bottom: 20px;
  background: #ebebeb;
}