* {
  box-sizing: border-box;
  text-align: center;
}

body{
  font-size: 24px;
  line-height: 32px;
  background: gray;
}

header{
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

nav{
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

section{
  margin-bottom: 20px;
  background: white;
}

.section{
  padding: 60px;
  float: left;
  width: 52.5%;
  margin: 20px
}

#article{
  background:gray;
  padding: 40px;
}

.aside{
  padding: 196px;
  float: left;
  width: 42.5%;
  margin: 20px;
}

#htag{
  background: white;
  margin: 5px;
  padding: 20px;
}

#p{
  background: white;
  margin: 5px;
  padding: 20px;
}

footer{
  clear: both;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}